* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 62.5%;
}

.gridContainer {
    margin: 0 auto;
    margin-top: calc(50vh - (480px / 2));
    width: 480px;
    height: 480px;
    border: 1px solid #000;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;

}

.gridItem {
    width: calc((480px - 17px) / 16);
    height: calc((480px - 17px) / 16);
    background-color: white;
}
